<header class="header">
  <div class="container header_box">
    <div class="header__logo">
      <a href="#">logo</a>
    </div>
    <nav>
      <ul>
        <li><a class="active" href="">Курсы</a></li>
        <li><a href="">Школы</a></li>
        <li><a href="">Отзывы о школах</a></li>
        <li><a href="">Акции школ</a></li>
        <li><a href="">Блог</a></li>
      </ul>
    </nav>
    <div class="search">
      <div class="search_arrow">
        <img src="./images/search-arrow.svg" alt="search arrow">
        <div class="search_arrow-sub"><p>3</p></div>
      </div>
      <div class="search_panel">
        <img src="./images/search_icon.svg" alt="search icon">
        <form action="">
          <input type="text" placeholder="Искать курсы">
        </form>
      </div>
    </div>
  </div>
</header>