<div class="main">
    <div class="main_text container">
        <h1>Агрегатор онлайн-курсов</h1>
        <p>
            Сравниваем онлайн-курсы по digital и IT. <br>
            Мы — каталог-отзовик курсов. Выбирайте курсы по отзывам,
            цене, продолжительности и другим критериям!
        </p>
    </div>
</div>
<div class="main_box">
    <h2>Наши преимущества</h2>
    <div class="main_boxs container">
        <div class="main_boxs-item">
            <div>
                <img src="./images/main-vedio.png" alt="main vedio">
                <h3>Большой выбор
                    онлайн-курсов</h3>
            </div>
            <p>Мы аккумулируем большое количество
                онлайн-курсов по различным направлениям,
                позволяя сравнивать их, и выбирать то,
                что вам нравится</p>
        </div>
        <div class="main_boxs-item">
            <div>
                <img src="./images/main-search.png" alt="main vedio">
                <h3>Актуальная
                    информация</h3>
            </div>
            <p>Мы регулярно обновляем наши базы данных, чтобы предоставлять вам только самую свежую информацию
                о новых курсах, старте обучения, скидках и предложениях от онлайн-школ</p>
        </div>
        <div class="main_boxs-item">
            <div>
                <img src="./images/main-fast.png" alt="main vedio">
                <h3>Скорость
                    поиска</h3>
            </div>
            <p>Агрегатор курсов создан для экономии вашего времени. Вы можете с легкостью найти подходящий курс в нашем
                каталоге
                по различным фильтрам</p>
        </div>
    </div>

</div>